*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Unknown Font",  monospace;
  font-weight: normal;
}

body {
  padding: auto;
  margin: auto;
  background: linear-gradient(to right, #00AAFF, #8e6499);
}

.calculator-grid {

  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  background-color:#29113dbf ;
	width: 420px;
	height: auto;
  margin:  auto;
	padding: 20px 20px 9px;
  color:#009de4;	
	


}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid rgb(124, 67, 136);
  outline: none;
  background-color: rgba(226, 219, 235, 0.75);
  border-radius: 35%;
  box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);

}

.calculator-grid > button:hover {
  background-color: rgba(41, 17, 61, 0.75);
}

.span-two {
  grid-column: span 2;

  color:rgba(233, 43, 116, 0.904) ;
  margin-right: 0;

}

.output {
  grid-column: 1 / -1;
  background-color: #29113dbf;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  color:#8e6499;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.kali {
  color:rgba(233, 43, 116, 0.904) ;
  margin-right: 0;
}

.bagi {
  color:rgba(233, 43, 116, 0.904) ;
  margin-right: 0;
}
.sama {
  color:rgba(233, 43, 116, 0.904) ;
  margin-right: 0;
}
.tambah {
  color:rgba(233, 43, 116, 0.904) ;
  margin-right: 0;
}
.tambah {
  color:rgba(233, 43, 116, 0.904) ;
  margin-right: 0;
}

.button-del {
  color:rgba(233, 43, 116, 0.904) ;
  margin-right: 0;
}
.kurang {
  color:rgba(233, 43, 116, 0.904) ;
  margin-right: 0;
}